.profile-image {
  border-radius: 50%;
  height: auto;
  width: 200px;
}


.project1, .project2, .project3, .project4, .project5, .project6 {
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 50%;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.a:hover {
  opacity: 0.5;
}

.social a {
  color: #777;

}
