.profile-image {
  border-radius: 100px;
  height: auto;
  width: 200px;
}


.project1, .project2, .project3, .project4, .project5, .project6 {
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 100%;
  height: 250px;
  width: 250px;
}
